[tower]
localhost ansible_connection=local

[isolated_group_test]
192.168.122.12

[database]

[all:vars]
admin_password='{{ deploy_tower_admin_password }}'

pg_host='{{ deploy_tower_pg_host | default('') }}'
pg_port='{{ deploy_tower_pg_port | default('') }}'

pg_database='{{ deploy_tower_pg_database | default('awx') }}'
pg_username='{{ deploy_tower_pg_username | default('awx') }}'
pg_password='{{ deploy_tower_pg_password }}'

rabbitmq_username=tower
rabbitmq_password='{{ deploy_tower_rabbitmq_password }}'
rabbitmq_cookie=cookiemonster

# Isolated Tower nodes automatically generate an RSA key for authentication;
# To disable this behavior, set this value to false
# isolated_key_generation=true

