[tower]
localhost ansible_connection=local

[automationhub]

[database]

[all:vars]
admin_password='{{ deploy_tower_admin_password }}'

pg_host='{{ deploy_tower_pg_host | default('') }}'
pg_port='{{ deploy_tower_pg_port | default('') }}'

pg_database='{{ deploy_tower_pg_database | default('awx') }}'
pg_username='{{ deploy_tower_pg_username | default('awx') }}'
pg_password='{{ deploy_tower_pg_password }}'

pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

# isolated_key_generation=true
# custom_ca_cert=/path/to/ca.crt
# web_server_ssl_cert=/path/to/tower.cert
# web_server_ssl_key=/path/to/tower.key
# automationhub_ssl_cert=/path/to/automationhub.cert
# automationhub_ssl_key=/path/to/automationhub.key
# postgres_use_ssl=False
# postgres_ssl_cert=/path/to/pgsql.crt
# postgres_ssl_key=/path/to/pgsql.key

#
# Automation Hub Configuration
#
automationhub_admin_password='automationhub'
automationhub_pg_host=''
automationhub_pg_port=''
automationhub_pg_database='automationhub'
automationhub_pg_username='automationhub'
automationhub_pg_password=''
automationhub_pg_sslmode='prefer'
# automationhub_upgrade = False
# automationhub_require_content_approval = True
# automationhub_importer_settings = None
# automationhub_disable_https = False
# automationhub_disable_hsts = False
# automationhub_ssl_validate_certs = False
